<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" href="style.css"/>
</head>
<body>

	<form class="form" method="post" name="login" action="../controller/logincheck.php" onsubmit="return validateForm()">
		
		<h1 class="login-title">Login</h1>

			<table>
				<tr>
					<td>Username:</td><br>
					<td><br><input type="text" class="login-input" name="username" placeholder="Username" autofocus="true" value=""></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><br><input type="password" class="login-input" name="password" placeholder="Password" value=""></td>
				</tr>
				<tr>
					<td></td>
					<td>
						<input type="submit" name="submit" value="Submit" class="login-button">
						<p class="link">Don't have an account? <br> <a href="signup.html">Registration Now</a></p>
					</td>
				</tr>
			</table>
			<script type="text/javascript" src="script1.js"></script>
	</form>
</body>
</html>