<html>
<head>
	<title>Signup Page</title>
	<link rel="stylesheet" href="style.css"/>
</head>
<body>

	<form class="form" name="singup" method="post" action="../controller/signupcheck.php" onsubmit="return validateForm()">

		<h1 class="login-title">Registration</h1>
		
			<table>
				<tr>
					<td>Username:</td>
					<td><br><input type="text" class="login-input" name="username" placeholder="Username" required  ></td>
				</tr>
				<tr>
					<td>Password:</td>
					<td><br><input type="password" class="login-input" name="password" placeholder="Password" ></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><br><input type="text" class="login-input" name="email" placeholder="Email Adress" ></td>
				</tr>
				<tr>
					<td></td>
					<td><br><input type="submit" name="submit" value="Submit" class="login-button"></td>
					<p class="link"><b>Already have an account? </b><a href="login.html"><br>Log in</a></p>

					
				</tr>
				
			</table>
			<script type="text/javascript" src="script2.js"></script>
	</form>
		
</body>
</html>

